.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe_card{
    border: 2px white solid;
    height: 80vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x:auto;
    padding: 0px 30px 0px 800px;
}

.recipe_card::-webkit-scrollbar{
    width: 0;
}

.recipe_card_container{
    margin-left: 20px;
    border-radius: 5px;
    background-color: var(--main-background);
    font-family: var(--font-family);
    width: 675px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hot_cold{
    background-color: var(--light-gray);
    width: fit-content;
    border-radius: 20px;
    height: fit-content;
    align-items: center;
    display: flex;
    justify-content: space-around;
    

}

.hot_cold button{
    background-color: var(--light-gray);
    padding: 6px 13px;
}



.hot_cold button:hover{
    background-color: var(--branded-green);
    color: white;
}

.product_button{
    padding: 6px 6px 6px 6px;
    border-radius: 20px;
    border: 0px;
}

.recipe_card_container_upper{
    display: flex;
    justify-content: space-between;
    font-size: medium;
    padding-right: 25px;
}
.recipe_card_product_pic{
    height: 160px;
}

.product_head h4{
    margin-bottom: 15px;
}

.product_size h5{
    margin-bottom: 5px;
}

.option_bar{
    display: flex;
    background-color: var(--light-gray);
    height: fit-content;
    border-radius: 20px;
    justify-content: space-between;
}
.options{
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 2px 2px 2px 2px; */
    
}
.options button{
    min-width: 80px;
    background-color: var(--light-gray);
}

.options button:hover{
    background-color: var(--branded-green);
    color: white;
}

.options p{
    margin-bottom: 0;
}



.recipe_card_container_lower{
    border-top: 2px solid var(--light-gray) ;
    font-family: var(--font-family);
    display: flex;
    font-size: small;
}

.product_description{
    font-weight: 600;
    width: 257px;
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    padding:  3px 20px 10px 20px;
    border-right: 1px solid var(--light-gray);
}

.product_pricing{
    font-weight: 700;
    display: flex;
    width: 240px;
    flex-direction: column;
    padding: 10px;
    padding-top: 3px;
    justify-content: space-between;
}

.buy_button{
    display: flex;
    justify-content: flex-start;
    /* justify-content: space-around; */

}

.add_to_cart{
    background-color: var(--main-background);
    border: 1px solid black;
    border-radius: 20px;
    padding: 4px 8px;
    margin-right: 5px;
}

.order_now{
    background-color: var(--branded-green);
    border:0px;
    border-radius: 20px;
    padding: 6px 10px;
    margin-left: 10px;
}




.recipe_card_container_mid{
    padding: 0px 20px;

}

.customization_head p{
    margin-bottom: 5px;
    font-weight: 600;
}

.options_mid{
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* margin: 2px 2px 2px 2px; */
    
}

.options_mid button{
    min-width: 84px;
    background-color: var(--light-gray);
}

.options_mid button:hover{
    background-color: var(--branded-green);
    color: white;
}

.options_mid p{
    margin-bottom: 0;
}

.customization_options{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    overflow-y: scroll;

}

.additive_container{
    display: flex;
    flex-direction: column;
    background-color: var(--main-background);
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    margin: 5px;
    width: 90px;
    justify-content: center;
    align-items: center;
    height: 160px;

}

.additive_container-image img{ 
    height: 75px;
    width: 80px;
    padding: 5px;
}

.additive_desc{
    border-top: 1px solid var(--light-gray);
    background-color: var(--background-gray);
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    width:inherit;
    padding-top:5px;
}


.additive_desc p{
    margin:0;
    text-align: center;
    font-size:x-small;
}

.additive_desc h6{
    margin: 0;
    font-weight:bolder;
    font: bolder;
    text-align: center;

} 


